name: test-custodian-policies
on:
  push:
  workflow_dispatch:
    inputs:
      ECC_BRANCH:
        description: 'A branch to use when cloning https://github.com/epam/syndicate-rule-engine'
        default: 'develop'
        required: false
        type: string
      ECC_ACTIONS_BRANCH:
        description: 'A branch to use when cloning git.epam.com/epmc-sec/cloudlab/cloud_custodian/ecc-actions'
        default: 'main'
        required: false
        type: string
  schedule:
    - cron: "0 7 * * 1"
    - cron: "10 14 * * 1"
  pull_request_review:
    types: 
      - submitted

jobs:
  test_policy_flights:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        compliance: ['red', 'green']
    env:
        COMPLIANCE: ${{ matrix.compliance }}
    if: github.event_name == 'push' || github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' || (github.event_name == 'pull_request_review' && github.event.review.state == 'approved')
    steps: 
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/actions/install_custodian
      - name: test_policy_flights
        shell: bash
        run: ./.github/workflows/scripts/test_policies.sh $COMPLIANCE

  github_release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: [test_policy_flights]
    if: startsWith(github.ref, 'refs/tags/v')
    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Checkout ecc-actions
        run: git clone -b ${{ inputs.ECC_ACTIONS_BRANCH || 'main' }}  "https://git:$PROJECT_TOKEN@git.epam.com/epmc-sec/cloudlab/cloud_custodian/ecc-actions.git" ecc-actions
        env:
          PROJECT_TOKEN: ${{ secrets.ECC_CHANGELOG_ACTION }}

      - name: Create wiki
        uses: ./ecc-actions/generate-list-of-rules

      - name: Release action
        uses: ./ecc-actions/release-rulepack-action
        with:
          token: ${{ github.token }}
          tag: ${{ github.ref_name }}

  ruleset_release_qa:
    name: ruleset_release_qa
    runs-on: ubuntu-latest
    needs: [test_policy_flights]
    if:  github.ref == 'refs/heads/main' && github.event_name == 'schedule' && github.event.schedule == '10 14 * * 1'
    steps:
      - name: Checkout ecc-actions
        run: git clone -b ${{ inputs.ECC_ACTIONS_BRANCH || 'main' }} "https://git:$PROJECT_TOKEN@git.epam.com/epmc-sec/cloudlab/cloud_custodian/ecc-actions.git" ecc-actions
        env:
          PROJECT_TOKEN: ${{ secrets.ECC_CHANGELOG_ACTION }}
      - name: Extract version from file
        id: version_qa
        run: echo "VERSION=$(head -n 1 version | sed 's/^v//')" >> $GITHUB_OUTPUT
      - name: Release ruleset on QA
        uses: ./ecc-actions/release-ruleset-action
        if: github.ref == 'refs/heads/main'
        env:
          C7N_CREDS: ${{ secrets.C7N_CREDS }}
          C7N_ENV: QA
        with:
          ecc_branch: ${{ inputs.ECC_BRANCH || 'develop' }}
          tag: ${{ steps.version.outputs.VERSION }}


  ruleset_release_prod:
    name: ruleset_release_prod
    runs-on: ubuntu-latest
    needs: [test_policy_flights, github_release]
    if: (startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/main') && github.event_name != 'schedule'
    steps:
      - name: Checkout ecc-actions
        run: git clone -b ${{ inputs.ECC_ACTIONS_BRANCH || 'main' }} "https://git:$PROJECT_TOKEN@git.epam.com/epmc-sec/cloudlab/cloud_custodian/ecc-actions.git" ecc-actions
        env:
          PROJECT_TOKEN: ${{ secrets.ECC_CHANGELOG_ACTION }}
      - name: Extract version
        id: version
        run: echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_OUTPUT
      - name: Release ruleset on PROD
        uses: ./ecc-actions/release-ruleset-action
        if: startsWith(github.ref, 'refs/tags/v')
        env:
          C7N_CREDS: ${{ secrets.C7N_CREDS }}
          C7N_ENV: PROD
        with:
          ecc_branch: ${{ inputs.ECC_BRANCH || 'develop' }}
          tag: ${{ steps.version.outputs.VERSION }}